
.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.home img {
    position: absolute;
    z-index: 1;
    height: 25px;
    width: 140px;
    top: 25px;
    left: 100px;

}
.logo img {
    position: absolute;
    z-index: 1;
    height: 8px;
    width: 40px;
    bottom: 25px;
    left: 100px;

}